@model IEnumerable<found.Models.Solution>

@{
    ViewBag.Title = "supportMoney5List";
}

<h2>supportMoney5List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.intro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.sId }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
